* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Landing Page Styling */
/* 
body{
    font-family:sans-serif;
    overflow:hidden;
}

.scene,
canvas{
    position: absolute;
    width: 100%;
    height: 100%;
} */

.landingcontainer{
    display:flex;
    position:absolute;
    height: 80vh;
    width: 80vw;
    z-index: 5;
    justify-content: space-between;

}

.landingcontainerverticalsection{
    display:flex;
    width: 33.3%;
    height: 100%;
    flex-direction: column;
     
}

.landingcontainerbox{
    display:flex;
    width: 100%;
    height: 33.3%;
    justify-content: center;
}

#landingtextcontainerleft{
    align-items: middle;
    justify-content: center;
}

#bottom{
    flex-direction: column;
    justify-content: flex-end;

}

#landingtext{
    font-size: 1.3em;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#landingtextright{
    font-size: 1.3em;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.about{
    display:flex;
    position:fixed;
    height: 100vh;
    width: 100vw;
    z-index: 5;
    background-color:aqua;
    
}

.studiotext{
    font-size: 2.3em;
    justify-content: center;
    font-family: sans-serif;
    color: white;
    text-align: center;
}

.clienttext{
    font-size: 2.3em;
    z-index: 3;
    justify-content: center;
    position:relative;
    top: -28vh;
    font-family: sans-serif;
    color: white;
    text-align: center;
}

/* Landing Page Styling */


.flexbox-container{
    display:flex;
    justify-content:space-around;
    flex-direction:column;
    scroll-padding-top: 100px;
    background-color:rgb(48, 48, 48);
    
}

.flexbox-item {
    height:100%;    
    margin: 0px;
    
}

.caption{
    float: left;
    font-family: 'Roboto', sans-serif;
    color:rgb(157, 164, 170);
    font-size: .9em;
    line-height: 3;
}

.flexbox-item-transparent{
    height: 100vh;
    min-height:200px;
    position: sticky;
    position: -webkit-sticky;
    z-index: 1;
    overflow-y: hidden;
    background-color:rgb(48, 48, 48);
}  

.flexbox-item-transparent-client{
   
    background-color:rgb(48, 48, 48);
}  

.flexbox-item-2{
    height: 100vh;
    min-height:200px;
    background-color: black ; 
    z-index: 3;
    position: sticky;
    position: -webkit-sticky;
    display: flex;
    align-items: center;
    justify-content: center;


    
}   


.flexbox-item-about{
    height: 100vh;
    min-height:200px;
    background-color: gray;
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
}   

/* studio styling: */

.studio-column{
    height: vh;
    min-width: 44vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.studio-double-column-container{
    height: vh;
    max-width: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.studio-landscape-container{
    height: vh;
    min-width: 146vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.studio-landscape-column{
    height: calc(88vh + 10px);
    min-width: 146vh;
    margin-left:7px;
    margin-right:7px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    object-fit: cover;
}

.studio-landscape-column img{
    max-height: 100%;
}

.studio-landscape-caption-container{
    min-width: 146vh;
    height: 8vh;
    margin-left:7px;
    margin-right:7px;
}

.studio-wide-portrait-container{
    height: vh;
    min-width: 74vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.studio-wide-portrait-column{
    height: calc(88vh + 10px);
    min-width: 74vh;
    margin-left:7px;
    margin-right:7px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.studio-wide-portrait-column img{
    max-height: 100%;
    max-width: 100%;
}

.studio-wide-portrait-caption-container{
    min-width: 74vh;
    height: 8vh;
    margin-left:7px;
    margin-right:7px;
}

.studio-skinny-portrait-container{
    height: vh;
    min-width: 59vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.studio-skinny-portrait-column{
    height: calc(88vh + 10px);
    min-width: 59vh;
    margin-left:7px;
    margin-right:7px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.studio-skinny-portrait-caption-container{
    min-width: 59vh;
    height: 8vh;
    margin-left:7px;
    margin-right:7px;
}

.studio-skinny-portrait-column img {
    max-height:100%;
}

.studio-spread-container{
    height: vh;
    min-width: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.studio-spread-column{
    height: calc(88vh + 10px);
    min-width: 55vh;
    margin-left:7px;
    margin-right:7px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.studio-spread-caption-container{
    min-width: 55vh;
    height: 8vh;
    margin-left:7px;
    margin-right:7px;
}

.studio-spread-square{
    width: calc(55vh);
    height: 44vh;
    object-fit: cover;
    overflow: hidden;
    justify-content: center;
    
}

.studio-spread-square img{
    max-height: 100%;
    max-width: 100%;
    
}

.studio-caption-container{
    min-width: 44vh;
    height: 8vh;
    margin-left:7px;
    margin-right:7px;
}

.studio-double-column{
    height: calc(88vh + 10px);
    max-width: 88vh;
    margin-left:7px;
    margin-right:7px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    object-fit: cover;
}

.studio-double-column img{
    max-height: 100%;
    max-width: 100%;

}

.studio-double-column-caption-container{
    min-width: 88vh;
    height: 8vh;
    margin-left:7px;
    margin-right:7px;
}

.square-column{
    height: calc(88vh + 10px);
    min-width: 44vh;
    margin-left:7px;
    margin-right:7px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}

.square-column img{
    max-height:100%;
}

.studio-double-square{
    max-width: calc(88vh);
    max-height: calc(44vh);
    object-fit: cover;
}

.studio-double-square img{
    max-height: 100%;
    max-width: 100%;
    
}

.studio-square{
    width: calc(44vh);
    height: calc(44vh);
    background-color: greenyellow;
    object-fit: cover;
}

.studio-square img{
    max-width: 100%;
    max-height: 100%;

}

.flexbox-item-studio{
    height: 100vh;
    min-height:200px;
    background-color:rgb(48, 48, 48);
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 921px;
    padding-right: 7px;
    position: fixed;
    bottom: 0px;
    z-index: 2;
    align-self: start;
    padding-top: 7px;
    left: 0px
}   

/* Image Slideshow */

.flexbox-item-client-container{
    height: 100vh;
    min-height:200px;
    background-color:rgb(48, 48, 48);
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 921px;
    position: fixed;
    bottom: 0px;
    z-index: 1;

}   

.client-column-container{
    height:100%;
    min-width:75vh;
    max-width:75vh;
    background-color:rgb(48, 48, 48);
    flex-direction: column;
    padding: 7px; 
}

.client-column-container-end{
    height:100%;
    width:100vh;
    background-color:rgb(48, 48, 48);
    flex-direction: column; 
}

.client-hero-container{
    height:45vh;
    background-color: greenyellow;
    margin-top: 10px  ;
    margin-bottom: 10px  ;
    overflow: hidden;
    max-width: 100%;
}


.client-hero-images{
    display: flex;
    height: 100%;
    width: 100%;

}

.client-hero-images img{
    z-index: 1;
    object-fit: cover;
    
}

 @keyframes slidenext{
    0% {
    transform:translateX(671px)
    }

    100% {
        transform:translateX(0px)
        }
    
}

@keyframes slideback{
    0% {
    transform:translateX(0px)
    }

    100% {
        transform:translateX(-671px)
        }
    
} 

.notcurrent{
    display:none;
    position:absolute;

}

.slideback{
    animation-name:slideback; 
    animation-duration: 1s;
}

.current{
    overflow-x: hidden;
    position:absolute;
    display:inherit;
}

.slidenext{
    animation-name: slidenext;
    animation-duration: 1s;
}






  









